Repository ccweerasinghe1994/my-default-frontend-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write

.lintstagedrc.json:

{
	"src/**/*.{ts,tsx}": "npm run lint",
	"src/**/*.{html,scss,css}": "prettier --write",
	"*.json": "prettier --write"
}

fix: cleanup
  .lintstagedrc.json
Due: prettier --write

fix: cleanup
  package.json
  src/test/test.css
Due: prettier --write

fix: cleanup
  .lintstagedrc.json
  README.md
  docs/img/31.png
  docs/img/32.png
  docs/img/33.png
Due: prettier --write

fix: cleanup
  package.json
  src/App.tsx
Due: npm run lint, prettier --write

fix: test
  .lintstagedrc.json
  src/App.tsx
Due: npm run lint, prettier --write

fix: test
  package.json
Due: prettier --write

fix: test
  src/App.tsx
Due: npm run lint

fix: test
  .lintstagedrc.json
  package.json
Due: prettier --write

fix: test
  .lintstagedrc.json
Due: prettier --write

fix: adding redux
  package-lock.json
  package.json
Due: prettier --write

fix: adding redux
  README.md
  docs/img/34.png
Due: none

fix: adding slice
  src/features/counter/counter.slice.ts
Due: npm run lint

fix: adding slice
  src/features/dogs-api/dogs.api.slice.ts
Due: npm run lint

fix: adding store
  src/app/store.ts
Due: npm run lint

fix: adding hooks.ts
  src/app/hooks.ts
Due: npm run lint

fix: adding provider
  src/main.tsx
Due: npm run lint

fix: api use
  src/App.tsx
Due: npm run lint

fix: issues and README.md
  README.md
  src/App.css
  src/App.tsx
  src/features/dogs-api/dogs.api.slice.ts
Due: npm run lint, prettier --write

fix: issues
  src/App.tsx
Due: npm run lint

fix: issues
  .husky/commit-msg
Due: none

feat: adding the app code
  README.md
Due: none

fix: removing unused code
  src/App.tsx
Due: npm run lint

feat: adding jest and jsdom
  README.md
  docs/img/35.png
  docs/img/36.png
  docs/img/37.png
  docs/img/38.png
  package-lock.json
  package.json
  src/tests/environment.test.ts
  vite.config.ts
Due: npm run lint, prettier --write

feat: merge conflic
  .gitignore
  README.md
  docs/img/39.png
  docs/img/40.png
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write

feat: final touches
  README.md
  package-lock.json
  package.json
  src/setup.Tests.ts
Due: npm run lint, prettier --write

feat: react router
  README.md
  docs/im2/1.png
  docs/im2/2.png
  docs/img/41.png
  package-lock.json
  package.json
  src/App.tsx
  src/Components/Header/Header.component.tsx
  src/main.tsx
  src/pages/About/About.page.tsx
  src/pages/Home/Home.page.tsx
  src/pages/Login/Login.page.tsx
  src/pages/NotFound/NotFound.page.tsx
  src/tests/App.test.tsx
  tsconfig.json
  vite.config.ts
Due: npm run lint, prettier --write
